.homePage{
    color: #fff;
    height: 100vh;
}
.homePage .homeDetails{
    margin-top: 2em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selectedTime{
    margin: 1em 2em;
    position: relative;
}
.selectedTime p{
    text-align: center;
    margin-bottom: 1em;
    font-size: 0.9em;
}
.selectedTime .selectDates, .selectedTime .selectTimes{
    border-radius: 0.1em;
    margin: 0.5em 0em;
    color: #fff;
    padding: 0.2em;
    text-align: center;
    width: 100%;
    font-size: 1em;
}
.custom_dropdown{
    overflow-y: auto;
    
}
.selectedTime .showTimes{
    transition: all ease 1s;
}

