.passwordInputContainer{
    margin: 0.5em;
    padding: 0.5em;
}
.passwordInputContainer label{
    margin-left: 0.5em;
    display: block;
    text-align: start;
    margin-bottom: 0.5em;
    color: #fff;
}
.passwordInputField{
    width: calc(100% - 3em); 
    margin-left: 0.5em;
    color: #fff;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}
.togglePasswordButton {
    padding: 0.5em;
    padding-left: 1em;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}
.togglePasswordButton svg{
    transform: scale(2);
}
