.registerPage{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1em;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.registerPage .img{
    width: 100%;
    opacity: 1;
    height: 20em;
    background-image: url('../../assets/logobarbershop.jpg');
    background-size: cover;
    background-position: right center;
}
.registerPage  h1{
    margin: 1em;
}
.registerPage p{
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.5em;
}
